@model Mantici.Entities.Models.CompanyInformation
<div class="logo-img-small d-sm-block d-md-block d-lg-none">
    <a href="/home/Index">

        <img src="@Model.companyLogo" alt="ayha.net" />
    </a>
</div>
