<div class="brand_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h3>Brands love to take Our Services</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        standards <br> especially in the workplace. That’s why it’s crucial that, as women.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/1.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/02.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/03.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/04.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/05.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/06.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/7.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/12.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/9.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/10.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/11.png" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-3">
                <div class="single_brand">
                    <img src="img/brand/8.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
