@using Mantici.Entities.Models
@model List<Mantici.Entities.Models.review>
<div class="testmonial_area banner-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title white mb-60">
                    <h3>Feedback from Customers</h3>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards <br> especially in the workplace. That’s why it’s crucial that, as women.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    @foreach (review review in Model)
                    {
                        <div   class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                @if (review.userID != null)
                                {
                                    <img style="border-radius: 50px !important ;" src="@review.user.userPicturePath" alt="user">
                                }
                                else
                                {
                                    <img style="border-radius: 50px !important ;"  src="~/content/img/userPictures/admin.jpg" alt="user" />
                                }

                            </div>
                            <div class="testmonial_author">
                                <h3>@review.visitorName @review.visitorSurname</h3>


                                <p>
                                    @review.comment
                                </p>
                            </div>
                        </div>
                    }
                    
               
                </div>
            </div>
        </div>
    </div>
</div>
