
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>flatter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/css/themify-icons.css" rel="stylesheet" />
    <link href="~/content/css/nice-select.css" rel="stylesheet" />
    <link href="~/content/css/flaticon.css" rel="stylesheet" />
    <link href="~/content/css/animate.css" rel="stylesheet" />
    <link href="~/content/css/slicknav.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
    <link href="~/content/patocss/util.css" rel="stylesheet" />
    <link href="~/content/patocss/main.css" rel="stylesheet" />
    

    


    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-10">
                            <div class="main-menu d-none d-lg-block" >
                                <nav >
                                    <ul class="mein_menu_list" id="navigation">
                                        <li><a href="#">Anasayfa</a></li>
                                        <li><a href="/menu/Index">Menü</a></li>
                                        
                                        <li><a href="#">Hakkımızda</a></li>
                                        <li ><a  href="#">Bayi Başvuru formu</a></li>
                                        <div class="logo-img d-none d-lg-block">
                                            <a href="#">

                                                <img src="~/content/img/logo/logo.png" />
                                            </a>
                                        </div>
                                        <li>
                                            <a href="#">Bayiler</a>
                                        </li>
                                       
                                        <li>
                                            <a href="#">İletişim</a>
                                            
                                        </li>
                                        <li><a href="#">Hizmetler</a></li>
                                        @if (User.Identity.IsAuthenticated == false)
                                        {
                                            <li><a href="/user/Index">Giriş</a></li>


                                        }
                                        else
                                        {
                                            <li><a href="/user/logOut">Çıkış</a></li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                            <div class="custom_order">
                                <a href="#" class="boxed_btn_white" style="background-color: #78b454 !important;">Rezervasyon</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                        <div class="logo-img-small d-sm-block d-md-block d-lg-none">
                            <a href="index.html">
                                
                                <img src="~/content/img/logo/logo.png" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    @RenderBody()
   
    <!-- footer-start -->
    <footer class="footer_area footer-bg zigzag_bg_1" style="background-color: #40a557">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                Top Products
                            </h3>
                            <ul>
                                <li><a href="#">Managed Website</a></li>
                                <li><a href="#"> Manage Reputation</a></li>
                                <li><a href="#">Power Tools</a></li>
                                <li><a href="#">Marketing Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                Quick Links
                            </h3>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#"> Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                Features
                            </h3>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                Resources
                            </h3>
                            <ul>
                                <li><a href="#">Guides</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="#">Experts</a></li>
                                <li><a href="#">Agencies</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="heading">
                                Newsletter
                            </h3>
                            <p class="offer_text">You can trust us. we only send promo offers,</p>
                            <form action="#">
                                <input type="text" placeholder="Your email address">
                                <button type="submit"> <i class="ti-arrow-right"></i> </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-md-12 col-lg-8">
                        <div class="copyright">
                            <p class="footer-text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-12 col-lg-4">
                        <div class="social_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-dribbble"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-behance"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->
    <!--<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0"><img src="img/banner/video-16-9.jpg" alt="IMG"></div>
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>-->
    <!-- JS here -->
    <script src="~/content/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/content/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/content/js/popper.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/owl.carousel.min.js"></script>
    <script src="~/content/js/isotope.pkgd.min.js"></script>
    <script src="~/content/js/ajax-form.js"></script>
    <script src="~/content/js/waypoints.min.js"></script>
    <script src="~/content/js/jquery.counterup.min.js"></script>
    <script src="~/content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/content/js/scrollIt.js"></script>
    <script src="~/content/js/jquery.scrollUp.min.js"></script>
    <script src="~/content/js/wow.min.js"></script>
    <script src="~/content/js/nice-select.min.js"></script>
    <script src="~/content/js/jquery.slicknav.min.js"></script>
    <script src="~/content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/content/js/plugins.js"></script>



    <!--contact js-->
    <script src="~/content/js/contact.js"></script>
    <script src="~/content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/content/js/jquery.form.js"></script>
    <script src="~/content/js/jquery.validate.min.js"></script>
    <script src="~/content/js/mail-script.js"></script>
    <script src="~/content/js/main.js"></script>






</body>

</html>