@model List<Mantici.Entities.Models.Product>


    <div class="container">
        <h2>Güncel Menü Listesi</h2>
        <section class="customer-logos slider">
            @foreach (Mantici.Entities.Models.Product pro in Model)
            {

                <div class="single_order">
                    <div class="order_thumb">
                        <img src="@pro.coverPicturePath" alt="@pro.pictureAlt">
                        <div class="order_prise">
                            <span>@pro.price</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">@pro.name</a></h3>

                    </div>
                </div>

            }

        </section>

    </div>

