<div class="video_area video_bg zigzag_bg_1 zigzag_bg_2 ">
    <div class="video_area_inner">
        <!--Bu tagler silinip, bir slider bulunup eklenecek-->
        <h4>menü slider ekle</h4>
    </div>
</div>
