@using Mantici.Entities.Models
@model List<Mantici.Entities.Models.service>
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60">
                    <h3>Servislerimiz</h3>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards <br> especially in the workplace. That’s why it’s crucial that, as women.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (service svr in Model)
            {
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <img src="@svr.serviceIcon"/>
                        </div>
                        <h4>@svr.serviceName</h4>
                        <p>@svr.serviceInfo</p>
                    </div>
                </div>
            }
            

        </div>
    </div>
</div>
