<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60">
                    <h3>Our Services</h3>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards <br> especially in the workplace. That’s why it’s crucial that, as women.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-gift"></i>
                    </div>
                    <h4>Birthday Catering</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-cake"></i>
                    </div>
                    <h4>Wedding Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-dance"></i>
                    </div>
                    <h4>Party Catering</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-calendar"></i>
                    </div>
                    <h4>Event Catering</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-businessman"></i>
                    </div>
                    <h4>Corporate Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-running-man"></i>
                    </div>
                    <h4>Catering On Demand</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
