@using Mantici.Entities.Models
@model List<Mantici.Entities.Models.banner>

<div class="slider_area zigzag_bg_2">
    
    <div class="slider_sctive owl-carousel">
    @foreach (banner bnr in Model)
    {
        <div class="single_slider slider_img_1" style="background-image: url('@bnr.bannerPath'); ">

            <div class="single_slider-iner">

                <div class="slider_contant text-center">

                    @*<h3>
                        Food Catering <br>
                        Service.
                    </h3>*@
                    <p>
                      @bnr.text
                    </p>

                </div>

            </div>
        </div>
        @*<div class="single_slider slider_img_1 " style="background-image: url('../../content/img/bannerPicture/sliders-taze-dogal-hizli-ekonomik-1495033405.jpg');">
            <div class="single_slider-iner">


                <div class="slider_contant text-center">

                    <h3>
                        Food Catering <br>
                        Service.
                    </h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women <br>
                        face higher conduct standards especially in the workplace. That’s why it’s <br>
                        crucial that, as women.
                    </p>
                </div>
            </div>
        </div>
        <div class="single_slider slider_img_1" style="background-image: url('../../content/img/bannerPicture/sliders-taze-dogal-hizli-ekonomik-1495033435.jpg');">

            <div class="single_slider-iner">

                <div class="slider_contant text-center">


                    <h3>
                        Food Catering <br>
                        Service.
                    </h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women <br>
                        face higher conduct standards especially in the workplace. That’s why it’s <br>
                        crucial that, as women.
                    </p>
                </div>
            </div>
        </div>*@
    }
    </div>
</div>
