@model Mantici.Entities.Models.CompanyInformation
<section class="section-video" style="background-image: url('../../content/img/bg-cover-video-02.jpg'); ">
    <div class="content-video t-center p-t-225 p-b-250">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video_text">
                        <div class="info">
                            <div class="info_inner">
                                <h4 style="font-size: 35px !important;color:brown !important">Video İzle</h4>
                                <p style="font-size: 35px !important; color:aliceblue">@Model.videoText</p>
                            </div>
                            <div class="icon_video">
                                <a class="popup-video" href="@Model.videoPath"><i style="font-size: 50px !important" class="ti-control-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
